@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'tailwindcss';

@plugin "daisyui";
@plugin "daisyui/theme" {
	name: 'cub';
	default: true;
	prefersdark: false;
	color-scheme: 'light';

	--color-base-100: #fdfcf7;
	--color-base-200: #fcfaf2;
	--color-base-300: #f6efd6;
	--color-base-content: #2e282a;
	--color-primary: #cae3d2;
	--color-primary-content: #2e282a;
	--color-secondary: #85b09a;
	--color-secondary-content: #fdfcf7;
	--color-accent: #dd3025;
	--color-accent-content: #fcfaf2;
	--color-neutral: #2e282a;
	--color-neutral-content: #fcfaf2;
	--color-info: #594236;
	--color-info-content: #fcfaf2;
	--color-success: #21467d;
	--color-success-content: #2e282a;
	--color-warning: #eac964;
	--color-warning-content: #2e282a;
	--color-error: oklch(88% 0.062 18.334);
	--color-error-content: #2e282a;
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 1;
	--noise: 0;
}
